<!DOCTYPE html>
<html lang="en">
<head>
    <title>BPGC Confessions</title>
    <%- include('head'); %>
</head>
<body style="overflow: hidden;">
    <%- include('flash'); %>
    <div class="add">
        <div class="soft square">
            <input type="checkbox" name="darkmode" id="darkmode">
        </div>
        <a href="/faq"><div class="soft square">?</div></a>
    </div>
    <div class="center flex-column" style="height:100vh;">
        <% if (!user) { %>
            <a class="soft" href="/auth/google">Sign in with BITS Mail</a>
            <a class="soft" id="guest-signin" href="#">Continue as Guest</a>
            <script src="/js/guest_login.js"></script>
        <% } else if (user.rank.includes('guest')) { %>
            <!-- <p><%= JSON.stringify(user.rank) %></p> -->
            <a class="soft" href="/posts">View Posts</a>
            <a class="soft" href="/auth/logout">Logout</a>
        <% } else if (user.rank.includes('user')) { %> 
            <!-- <p><%= JSON.stringify(user.rank) %></p> -->
            <a class="soft" href="/posts">View Posts</a>
            <a class="soft" href="/posts/new">Add Post</a>
            <!-- <a class="soft" href="/chat">Chat</a> -->
            <a class="soft" href="/auth/logout">Logout</a>   
        <% } else { %>
            <p>Easter Egg: You are not supposed to see this. H4CK3RM4N</p>
        <% } %>
    </div>

    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', function() {
                navigator.serviceWorker.register('/sw.js').then(function(registration) {
                    // Registration was successful
                    console.log('ServiceWorker registration successful with scope: ', registration.scope);
                }, function(err) {
                    // registration failed
                    console.log('ServiceWorker registration failed: ', err);
                });
            });
        }
    </script>
    <script defer src="/js/darkmode.js"></script>

</body>
</html>